
<div class="container">
    <div class="row">
    <div class="col-12">
        <%= link_to 'New Post', new_admin_post_path %>
    </div>
        <% @posts.each do |post| %>
            <div class="col-12">
                <h1><%= post.title %></h1>
                <%= link_to 'delete', admin_post_path(post), method: :delete %>
                <%= link_to 'edit', edit_admin_post_path(post) %>
                <% if post.published_at.blank? %>
                    <%= link_to 'publish', admin_post_toggle_published_path(post), method: :put %>
                <% else %>
                    <%= link_to 'unpublish', admin_post_toggle_published_path(post), method: :put %>
                <% end %>
            </div>
        <% end %>
    </div>

</div>

